.title-wrapper {
  display: grid;
  width:100%;
  height:50vw;
  place-items: center;
  font-size: 10vmin;
  background-size: cover;
  background-image: url("imgs/backdrop-home.jpg");
  background-attachment: fixed;
  height: 40vh;
  color:white;
  margin-bottom: 2vh;
}

p {
  padding:0vh 2vw;
  font-family: 'Lato', sans-serif;
}

#values-we-follow {
  display: grid;
  align-items: flex-start;
  justify-items:center;
  align-content: center;
  justify-content: center;
  gap:4vh 1vw;
  padding-inline-start: 0;
}

#values-we-follow li {
  list-style-type: none;
  display: block;
  border: 2px solid var(--theme-col-1);
  border-radius: 5px;
  padding:2vh 2vw;
  max-width: 90vw;
  height: 90%;
  overflow-y: auto;
}

#board {
  display: grid;
  align-items: flex-start;
  justify-items:center;
  align-content: center;
  justify-content: center;
  gap:4vh 1vw;
  padding-inline-start: 0;
}

#board li {
  list-style-type: none;
  display: block;
  border: 2px solid var(--theme-col-1);
  border-radius: 5px;
  padding:2vh 2vw;
  max-width: 90vw;
  height: 100%;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .title-wrapper {
    height:70vh;
  }
  #values-we-follow {
    grid-auto-flow: column;
  }
  #board {
    grid-auto-flow: column;
  }
}