html {
  scroll-behavior: smooth;
}
body {
  margin:2px;
  background: white;
  display: grid;
  justify-items: center;
  font-size: 1.1rem;
  font-family: sans-serif;
}

a {
  color:inherit;
}

#background {
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}

#main {
  padding: 2%;
  min-width: 98%;
  display: grid;
  justify-items:center;
}
@media (min-width: 600px) {
  #main {
   min-width:60vw; 
  }
}

.card {
  padding: 2%;
  width:98%;
}

#grades {
  border:1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

#grades > tr > td {
  padding: 1%;
  border:1px solid black;
}

#toggleList {
  border:0.1vmin solid rgba(0, 0, 0, 0.50);
  color:black;
  background: inherit;
  background-position: 0 0%;
  display: block;
  padding: 1vh 1vw;
  box-shadow: 0 2px 2px #ccc;
  margin: 0 auto;
  cursor: pointer;
}

#toggleList.active {
  box-shadow: 0 2px 2px #ccc inset;
}

#toggleList::before {
  content:"Show "
}
#toggleList.active::before {
  content:"Hide "
}
#course-wrapper {
  height:0px;
  overflow-y: hidden;
}

#course-wrapper.active {
  height: auto;
}