body {background: black; color:white; font-family: monospace;}

#main {
  width:100vw;
  height:100vh;
  position: fixed;
  display: grid;
  top:0; left:0;
  place-items: center;
  place-content: center;
  text-align: center;
}

 h1 {
  filter: url("#filter");
  fill:rgb(255, 255, 255);
  color:white;
  text-transform: uppercase;
  font-size: 3rem;
}

.top-r,
.bot-r,
.top-g,
.bot-g {
    stroke: #ffffff;
}
.top-r {
  stroke-width: 0;
  animation: topani 2.5s alternate infinite;
}

.bot-r {
  stroke-width: 0px;
  animation: botani 2s alternate infinite;
}

.top-g {
  stroke-width: 0px;
  animation: topani 2s alternate-reverse infinite;
}

.bot-g {
  stroke-width: 0%;
  animation: botani 2.5s alternate-reverse infinite;
}

:root {
  --a0:0;
  --a25:0;
  --a50:0;
  --a75:0;
  --a100:0;
  --b0:0;
  --b25:0;
  --b50:0;
  --b75:0;
  --b100:0;
}

@keyframes topani {
  0% {
    stroke-width:var(--a0);
  }
  25% {
    stroke-width:var(--a25);
  }
  50% {
    stroke-width:var(--a50);
  }
  75% {
    stroke-width:var(--a75);
  }
  100% {
    stroke-width:var(--a100);
  }
}
@keyframes botani {
  0% {
    stroke-width:var(--b0);
  }
  25% {
    stroke-width:var(--b25);
  }
  50% {
    stroke-width:var(--b50);
  }
  75% {
    stroke-width:var(--b5);
  }
  100% {
    stroke-width:var(--b100);
  }
}