body {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  margin:0;
  place-items: center;
  width:100vw;
  height:100vh;
  background: #919191;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

#selfie {
  border-radius: 100%;
  border:5px solid white;
  clip:auto;
  width:50vmin;
  height:50vmin;
  object-fit: cover;
  object-position: 50% 30%;
}
